# Example service file for running the client side.
# Don't forget to adapt the values to your environment.

[Unit]
Description=DNS Request wrapper
Required=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=root
WorkingDirectory=$dnsoverrpc_install_directory
Type=exec
ExecStart=client/client --server ${SERVER}:5555 --addr 127.0.0.54:53 --pubkeyfile client/publickey.txt >> ${LOGFILE} 2>&1
ExecStop=/bin/kill -TERM $MAINPID
Restart=Always
