# An example systemd unit.
# Don't forget to adapt the values to your environment.
#
[Unit]
Description=DNS Request unwrapper
Required=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
User=$YourUser
WorkingDirectory=$dnsoverrpc_install_directory
ExecStart=server/server -privkeyfile privatekey.txt -pubkeyfile publickey.txt -addr '*:5555' >> ${LOGFILE} 2>&1
ExecStop=/bin/kill -TERM $MAINPID
Restart=Always
